.target{
  /*background-color: red;*/
  background-image: url(./img1.gif);
  height: 100%;
  /* Center and scale the image nicely */
  position: absolute;
  top: 120px;
  width: 100%;
  background-repeat: no-repeat;
  /*color: white;
 /splay: flex;
 justify-content: center;
 align-items: center;
 width: 200px;
 height: 100px;
 position: absolute;
 top: 440px;
 left: 100px;*/
;
}
body, html {
  height: 100%;
  margin: 0;
}
.container{
  /* The image used */
  background-image: url(./b09mld4h.bmp);
  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  position: absolute;
  top: 0;
  width: 100%;
  background-size: 1000px;
  background-repeat: no-repeat;

}